$white-primary: #ffffff;
$white-soft: #f8f8f8;
$orange-primary: #ed4d24;
$indigo-primary: #2c3e50;
$gray-lightest: #f0f0f0;
$gray: #d6d6d6;
$gray-darker: #333333;
$primary-border: rgba(60, 60, 60, 0.12);
$font-size-primary: 16px;
